body {
  position: relative;
  text-align: center;
  font-family: "Open Sans";
  font-style: bold;
  height: 100%;
  width: 100%;
  line-height: 1.4;
 overflow-x: hidden;
}

header {
  padding-bottom: 25px;
  text-align: center;
}

p {
  padding-top: 5px;
  text-align: middle;
  padding-bottom: 5px;
}

nav {
  position: absolute;
}

h1 {
  font-size: 32px;
  line-height: 25px;
  background-color: bisque;
  border-radius: 300px;

}

.carousel {
  width: 690px;
  height: 850px;
  overflow: clip;
  background-color: bisque;
  position: relative;
  border-radius: 12px;
  border-left: 435px solid white;


}
.details {
  flex-direction: column;
align-items: stretch;
font-size: 16px;
padding-right: 25px;
padding-left: 25px;
display: flex;
}
.carousel-slides {
display: flex;
}

.LB {
  position: absolute;
  top: 240px;
  z-index: 2;
  padding: 35px;
  border-radius: 25px;
  background-color: aliceblue;
  right: -75px;
}

.RB {
  position: absolute;
  left: 610px;
  top: 240px;
  z-index: 2;
  padding: 35px;
  border-radius: 25px;
  background-color: aliceblue;
}

.action {
  transition: all 1s ease-in;
}

.hidden {
  display: none;
}

.middlecred{
  padding-left: 2px;
  position: relative;
  font-size: 16px;
}


